@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamCond-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFProDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "SFProThin";
  src: url("/fonts/SFProDisplay-Thin.ttf") format("truetype");
}

.font-sf {
  font-family: "SFPro";
}

.font-sf-thin {
  font-family: "SFProThin";
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-gotham {
  font-family: "Gotham", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul {
  font-family: "Playfair Display", serif;
}

.bg-green-dark {
  background-color: #214001;
}

.green-dark {
  color: #214001;
}

.bg-green {
  background-color: #5c902e; /* bg-green-700 */
}

.bg-gray {
  background-color: #1c1d20; /* bg-zinc-900 */
}
/* Цвет текста заголовков (месяцы, дни недели) */
.rdrWeekDays {
  background-color: #1a1a1a !important;
  color: #ececec !important;
}

.rdrDayStartPreview,
.rdrDayEndPreview,
.rdrInRange {
  border-radius: none !important;
}
/* Цвет дней в календаре */
.rdrDay {
  color: #e0e0e0 !important;
}

/* Выделенные даты (диапазон) */
.rdrSelected,
.rdrInRange {
  background-color: #5c902e !important;
  border-radius: 0%;
}

/* Границы выделенных дат */
.rdrDayNumber span {
  color: #e0e0e0 !important;
}

/* Кнопки переключения месяцев */
.rdrNextPrevButton {
  background-color: #333 !important;
  color: #e0e0e0 !important;
}

/* Отключенные даты */
.rdrDayPassive {
  opacity: 0.5;
}

/* Тень для календаря */
.rdrCalendarWrapper {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.rdrCalendarWrapper {
  background-color: #1a1a1a !important;
  color: #e0e0e0 !important;
  width: 100%;
  border-radius: 10px;
}

.rdrMonthAndYearWrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* 📌 Фикс кнопок переключения месяцев */
.rdrNextPrevButton {
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.rdrMonths {
  justify-content: center;
}

/* 📌 Для мобильных растягиваем календарь на всю ширину */
@media (max-width: 768px) {
  .rdrCalendarWrapper {
    width: 100% !important;
    max-width: none !important;
  }
}

.custom-list {
  list-style: none; /* Убираем дефолтные маркеры */
  padding: 0;
}

.custom-list li {
  display: flex;
  align-items: center; /* 🔥 Центрируем текст и иконку */
  gap: 10px; /* Расстояние между иконкой и текстом */
  font-size: 1.2rem;
  color: #e0e0e0;
}

.custom-list li::before {
  content: "";
  display: inline-block;
  width: 20px; /* Размер иконки */
  height: 20px;
  background-image: url("/list.png"); /* 🔥 Твой кастомный маркер */
  background-size: contain;
  background-repeat: no-repeat;
}
